<ion-modal-view>
  <ion-header-bar>
    <h1 class="title">Add new Item to Pot</h1>
  </ion-header-bar>
  <ion-content>
    <form>
      <div class="list">
        <label class="item item-input">
          <input type="text" placeholder="Name" ng-model="modal.name" ng-model-instant required>
        </label>
        <label class="item item-input">
          <input type="date" placeholder="Date" ng-model="modal.date" ng-model-instant required>
        </label>
        <label class="item item-input">
          <input type="number" placeholder="Amount" ng-model="modal.amount" ng-model-instant required>
        </label>
        <label>
          <div class="item range range-positive">
            <i class="icon ion-ios-cart-outline"></i>
            <input type="range" name="Split Cart" min="0" max="{{modal.amount}}" value="{{modal.split}}" ng-model="modal.split" ng-model-instant>
            <i class="icon ion-ios-cart"></i>
          </div>
        </label>

        <label class="item item-input item-stacked-label">
          <span class="input-label">My Amount</span>
          <input type="text" value="{{modal.split}}" readonly>
        </label>
      </div>
    </form>
    <button class="button button-balanced button-block" ng-click="addPotItem()">
      add
    </button>
    <button class="button button-assertive button-outline button-block" ng-click="closeModal()">
      close
    </button>

  </ion-content>
  <ion-footer-bar>

  </ion-footer-bar>
</ion-modal-view>
