<!--
  This template loads for the 'tab.friend-detail' state (app.js)
  'friend' is a $scope variable created in the FriendsCtrl controller (controllers.js)
  The FriendsCtrl pulls data from the Friends service (service.js)
  The Friends service returns an array of friend data
-->
<ion-view view-title="{{pot.name}}">

  <ion-nav-buttons side="right">
    <button class="button ion-plus" ng-click="openModal()">
      add Items
    </button>
  </ion-nav-buttons>

  <ion-content class="bg">
    <div class="list">
      <div class="item item-icon-left">
        <i class="icon ion-clipboard"></i>Name
        <span class="item-note"> {{pot.name}}
        </span>
      </div>
      <div class="item item-icon-left">
        <i class="icon ion-document-text"></i>Description
        <span class="item-note"> {{pot.description}}
        </span>
      </div>
      <div class="item item-icon-left">
        <i class="icon ion-card"></i>Amount
        <span class="item-note"> {{pot.amount}}
        </span>
      </div>
      <div class="item item-icon-left">
        <i class="icon ion-information-circled"></i>Status
        <span class="{{pot.statusClass}}"> {{pot.status}}
        </span>
      </div>
    </div>

    <!--<img ng-src="{{pot.img}}" style="width: 64px; height: 64px">-->
    <!--<p>Created from: {{pot.creator}} at {{pot.datetime}}</p>
    <p>Changed from: {{pot.changer}} at {{pot.changedatetime}}</p>-->


    <h3 class="padding">Receipts</h3>
    <ion-list>
      <ion-item class="item-remove-animate item-icon-right" href="#" type="item-text-wrap" ng-repeat="item in pot.items">
        <h2>{{item.name}} {{item.description}}</h2>
        <p>Date:   {{item.date}}</p>
        <p>Amount: {{item.amount}}</p>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
