<ion-view view-title="Dashboard">
  <ion-nav-buttons side="right">
    <button class="button button-icon ion-refresh" ng-click="refresh()">
    </button>
  </ion-nav-buttons>

  <ion-content class="padding">

    <div class="list card">
      <div class="item item-divider">Pots</div>
      <div class="item item-body">
        <div>
          You have <b>{{noPots}}</b> pot(s) with <b>{{noPotItems}}</b> item(s).
        </div>
      </div>
    </div>
    <div class="list card">
      <div class="item item-divider">Total spendings this month</div>
      <div class="item item-body">
        <div>
          {{totalSpendingsThisMonth}} CHF
        </div>
      </div>
    </div>
    <!--FREE
    <div class="list card">
      <canvas id="myChart" width="300" height="280"></canvas>
    </div>-->
</ion-content>
</ion-view>
