<ion-view view-title="Pots">
  <ion-nav-buttons side="right">
    <!--<button class="button button-icon ion-plus" ng-click="openModal()">-->
      <!--add-->
<!--    </button>-->
  </ion-nav-buttons>

  <ion-content>
    <ion-refresher on-refresh="doRefresh()"></ion-refresher>
    <ion-list>
      <ion-item class="item-remove-animate item-icon-right" ng-repeat="pot in pots" type="item-text-wrap" href="#/tab/pots/{{pot.$id}}" ng-class="{status: pot.status == 'archived'}">
        <!-- item-avatar -->

        <!--        <img ng-src="{{pot.img}}">-->
        <h2>{{pot.name}}</h2>
        <p>{{pot.description}}</p>
        <i class="icon ion-chevron-right icon-accessory"></i>

        <ion-option-button class="button-energized" ng-click="archive(pot)">
          Archive
        </ion-option-button>
        <ion-option-button class="button-assertive" ng-click="remove(pot)">
          Delete
        </ion-option-button>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
