<ion-view view-title="Account">
  <ion-nav-buttons side="right">
    <button class="button button-icon ion-more" ng-click="show()">
      <!--add-->
    </button>
  </ion-nav-buttons>

  <ion-content>
    <div>
      <div class="list list-inset">
        <h3>Account</h3>
        <label class="item item-input">
          <input ng-model="user.username" type="email" placeholder="Username" />
        </label>
        <label class="item item-input">
          <input ng-model="user.password" type="password" placeholder="Password" />
        </label>
      </div>
      <div class="padding-left padding-right">
        <div class="button-bar">
          <a class="button button-balanced" ng-click="loginUser()">Login</a>
          <a class="button button-assertive" ng-click="logoutUser()">Logout</a>
        </div>
        <br>
        <div class="button-bar">
          <a class="button button-positive" ng-click="registerUser()">Register</a>
        </div>
      </div>
      <div class="list list-inset">
        <h3>Financials</h3>
        <label class="item item-input">
          <input ng-model="user.budget" type="number" placeholder="Budget" />
        </label>

        <h3>Profile Details</h3>
        <label class="item item-input">
          <input ng-model="user.firstname" type="text" placeholder="First Name" />
        </label>
        <label class="item item-input">
          <input ng-model="user.name" type="text" placeholder="Name" />
        </label>
      </div>
    </div>
  </ion-content>
</ion-view>
