<ion-view view-title="Dashboard">
  <ion-content class="padding">
    <div class="list card">
      <div class="item item-divider">Recent Updates</div>
      <div class="item item-body">
        <div>
          no news is good news.
        </div>
      </div>
    </div>
    <div class="list card">
      <div class="item item-divider">Pots</div>
      <div class="item item-body">
        <div>
          You have <b>{{noPots}}</b> pots with <b>{{noPotItems}}</b> items.
        </div>
      </div>
    </div>
    <div class="list card">
      <div class="item item-divider">Lists</div>
      <div class="item item-body">
        <div>
          You have <b>{{noLists}}</b> lists with <b>{{noListItems}}</b> items.
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
